$surface-dark: hsl(205, 10%, 10%);
$surface-light: hsl(205, 20%, 90%);
$surface-white: hsl(0, 0%, 97%);

$gray-50: rgb(241, 243, 244);
$gray-100: rgb(221, 225, 227);
$gray-200: rgb(202, 208, 211);
$gray-300: rgb(182, 191, 195);
$gray-400: rgb(143, 156, 163);
$gray-500: rgb(123, 139, 147);
$gray-600: rgb(106, 121, 129);
$gray-700: rgb(85, 97, 104);
$gray-800: rgb(73, 84, 90);
$gray-900: rgb(57, 66, 70);



$green-50: hsl(160, 40%, 95%);
$green-100: hsl(160, 46%, 90%);
$green-160: hsl(160, 52%, 85%);
$green-300: hsl(160, 58%, 80%);
$green-400: hsl(160, 64%, 75%);
$green-500: hsl(160, 70%, 65%);
$green-600: rgb(53, 227, 169);
$green-700: rgb(21, 209, 146);
$green-800: rgb(11, 168, 115);
$green-900: hsl(160, 94%, 25%);

$blue-50: hsl(220, 40%, 95%);
$blue-100: hsl(220, 46%, 90%);
$blue-220: hsl(220, 52%, 85%);
$blue-300: hsl(220, 58%, 80%);
$blue-400: hsl(220, 64%, 75%);
$blue-500: rgb(103, 145, 228);
$blue-600: rgb(53, 111, 227);
$blue-700: rgb(21, 83, 209);
$blue-800: hsl(220, 88%, 35%);
$blue-900: hsl(220, 94%, 25%);

$orange-50: hsl(20, 40%, 95%);
$orange-100: hsl(20, 46%, 90%);
$orange-20: hsl(20, 52%, 85%);
$orange-300: hsl(20, 58%, 80%);
$orange-400: hsl(20, 64%, 75%);
$orange-500: hsl(20, 70%, 65%);
$orange-600: hsl(20, 76%, 55%);
$orange-700: hsl(20, 82%, 45%);
$orange-800: hsl(20, 88%, 35%);
$orange-900: hsl(20, 94%, 25%);

$yellow-50: hsl(45, 40%, 95%);
$yellow-100: hsl(45, 46%, 90%);
$yellow-40: hsl(45, 52%, 85%);
$yellow-300: hsl(45, 58%, 80%);
$yellow-400: hsl(45, 64%, 75%);
$yellow-500: hsl(45, 70%, 65%);
$yellow-600: hsl(45, 76%, 55%);
$yellow-700: hsl(45, 82%, 45%);
$yellow-800: hsl(45, 88%, 35%);
$yellow-900: hsl(45, 94%, 25%);

$red-50: hsl(330, 40%, 95%);
$red-100: hsl(330, 46%, 90%);
$red-40: hsl(330, 52%, 85%);
$red-300: hsl(330, 58%, 80%);
$red-400: hsl(330, 64%, 75%);
$red-500: hsl(330, 70%, 65%);
$red-600: hsl(330, 76%, 55%);
$red-700: hsl(330, 82%, 45%);
$red-800: hsl(330, 88%, 35%);
$red-900: hsl(330, 94%, 25%);

$purple-50: hsl(285, 40%, 95%);
$purple-100: hsl(285, 46%, 90%);
$purple-40: hsl(285, 52%, 85%);
$purple-300: hsl(285, 58%, 80%);
$purple-400: hsl(285, 64%, 75%);
$purple-500: hsl(285, 70%, 65%);
$purple-600: hsl(285, 76%, 55%);
$purple-700: hsl(285, 82%, 45%);
$purple-800: hsl(285, 88%, 35%);
$purple-900: hsl(285, 94%, 25%);



